body {
    background-image: url('image/backgroundMainPage.jpg');

    color: #e0e0e0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.site-footer {
    background-color: rgba(30, 37, 47, 255);
    color: #e0e0e0;
    padding: 40px 0 20px;
    font-family: 'Montserrat', sans-serif;
    border-top: 3.5px solid rgba(255, 255, 255, 0.2);
}

.footer-content {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    padding: 0 20px;
}

.footer-links {
    display: flex;
    justify-content: flex-start;
    gap: 10%;
}

.footer-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    min-width: 120px;
}

.footer-column a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #ffffff;
}

.language-and-social-group {
    align-items: flex-start;
    margin-left: 0;
}

.language-selector {
    margin-bottom: -15px;
    display: flex;
    align-items: center;
}

.bg-flag {
    width: 30px;
    height: auto;
    margin-right: 7px;
}

.flag-label {
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
}

.social-icons-inline-container {
    display: flex;
    gap: 0px;
    margin-left: -60px;
}

.flag-icon {
    width: 20px;
    height: auto;
    margin-right: 8px;
}

.footer-social-img {
    width: 150px;
    height: 100px;
    margin-right: -100px;
    transition: opacity 0.3s ease;
}

.footer-social-img:hover {
    opacity: 0.8;
}

.footer-divider {
    height: 1.5px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 1px auto;
    max-width: 85%;
}

.crypto-logos {
    max-width: 100%;
    text-align: center;
    padding: 0 40px;
}

.crypto-image {
    max-width: 100%;
    height: auto;
}

.footer-bottom {
    max-width: 1200px;
    margin: 30px auto 10px;
    text-align: center;
    padding: 0 20px;
}

.footer-logo {
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}

.footer-logo .logo-text {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: #e0e0e0;
    font-weight: 600;
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: center !important;
    display: block !important;
    flex-shrink: 0;
    width: 100%;
}

.copyright {
    font-size: 0.8rem;
    color: #a0a0a0;
    text-align: center;
    position: relative;
    left: 40px;
}

@media (max-width: 768px) {
    .footer-links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 30px;
        align-items: center;
    }

    .language-and-social-group {
        align-items: center;
    }

}